@font-face {
    font-family: 'Muli';
    src: url('../assets/fonts/Muli.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Muli-bold';
    src: url('../assets/fonts/Muli-Bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Muli-light';
    src: url('../assets/fonts/Muli-Light.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Inter-extra-bold';
    src: url('../assets/fonts/Inter-ExtraBold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}