*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    color: initial;
    font-family: sans-serif;
}

:root{
    --bg-body: white;
    --bg-start:rgba(255, 165, 2,.5);
    --header-height:64px;
    --color-h2:#373F41;
}

body{
    background-color: var(--bg-body);
}
section{
    height: 100vh;
}

#start{
    background-color: var(--bg-start);
}
.main_header, .box_start, .information{
    display: flex;
    align-items: center;
}
.main_header{
    position: static;
    justify-content: space-between;
    height: var(--header-height);
    /* background-color: coral; */
    width: 100%;
}
.box_start{
    padding: 5rem;
    justify-content: center;
}
.box_start img{
    width: 55%;
    height: auto;
}
.information{
    display: flex;
    flex-direction: column;
    margin-left: 140px;
}
.information h2{
    color: var(--color-h2);
    font-size: 52px;
}
.information p{
    color: var(--color-h2);
    font-size: 16px;
}