*{
    padding:0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    color: initial;
    font-family: Muli;   
}

:root{
    --bg-body:white;
    --bg-start:rgba(255, 165, 2, .5);
    --bg-height:64px;
    --color-h2:#373f41;
}

body{
    background-color: #ccc;
}

#start{
    background-color: var(--bg-start);
}
#main_container{
    max-width: 1440px;
    margin: 64px auto;
    background-color: var(--bg-body);
    border-radius: 50px 50px 0 0;
    overflow:hidden;
}
section{
    padding: 0 64px;
}
.main_header, .box_start{
    display: flex;
    align-items: center;
}

.main_header{
    justify-content: space-between;
    height: var(--bg-height);
    width: 100%;
}
#logo h1{
    position: relative;
    top: 51px;
    font-family: Inter-extra-bold;
    font-size: 40px;
    color: rgba(84, 15, 126, .7);
}
#main_menu{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 300px;
    column-gap: 20px;
}
.loggin button{
    padding: .8rem;
    border: none;
    border-radius: 6px;
}

.loggin button:nth-child(1){
    background: #21CEC4;
}
.loggin button:nth-child(2){
    background: #E08E8E;
}
.loggin button small{
    font-size: 14px;
    color: black;
    filter: drop-shadow(rgba(165, 95, 95, .8) 0px 2px);
    /* border:  solid 1px; */
}
.box_start{
    padding: 5rem;
    justify-content: center;
}
.box_start img{
    width: 55%;
    height: auto;
    margin-right: 70px;
}
.box_start .information{
    padding: 0 24px;
}
.box_start .information h2{
    font-size: 52px;
    letter-spacing: 0.2px;
}
.co-working{
    display: flex;
    align-items: center;
    flex-direction:row-reverse
}
.co-working .information p{
    border-radius: 15px;
    font-family: Muli-light;
    font-weight: lighter;
    padding: 1em;
}
.co-working .information p:hover{
    background-color: #4F55DD;
    color: white;
    cursor: pointer;
}
.coments{
    align-items: center;
    padding-right: 0;
}
.coments header{
    display: flex;
    column-gap: 300px;
    justify-content: center;
    align-items: center;
    background-color: #32E8BC;
    width: 1380px;
    padding: 3rem;
}
.coments header h1{
    width: 50%;
    font-size: 3em;
    color: #4F4F4F;
}
.coments .photo{
    position: relative;
    grid-area: imagem;
    height: auto;
    width: 500px;
}
.coments .photo img{
    width: 100%;
    height: auto;
    position: absolute;
    width: 41vw;
    top: -374px;
    left: -159px;
}
.coments .information{
    display: grid;
    grid-template-columns: auto;
    grid-template-areas:
        'texto_left imagem texto_right';
}
.coments .information .photo{
    grid-area: 'imagem';
}
.coments .information p{
    background-color: #B4FFED;
    height: 96px;
    width: 400px;
    border-radius: 25px 0px;
    padding: 1rem;
}
.texto_rigth, .texto_left{
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 62px;
    margin-top: 91px;
}
.texto_left{
    grid-area: 'texto_left';
}
.texto_middle_botton{
    display: flex;
    justify-content: center;
    margin-top: 82%;
}
.texto_rigth{
    grid-area: 'texto_right';
}
.we-scratch{
    display: flex;
    align-items: center;
    justify-content:center;
    padding: 9rem 5rem;
    column-gap: 60px;
}
.we-scratch .information{
    display: flex;
    width: 40%;
    flex-direction: column;
    gap: 10px 10px;
}
.we-scratch .information p{
    color: #737B7D;
    font-size: 16px;
}
.we-scratch .information h2{
    font-size: 52px;
    color: #373F41;
}
.we-scratch .information small{
    font-size: 21px;
    color: #373F41;
}
.newslatter{
    display: flex;
    align-items: center;
    justify-content: start;
    height: 50vh;
    padding: 0;
}
.newslatter .photo{
    position: absolute;
    right: 200px;
}
.newslatter .photo img{
    width: auto;
    height: 890px;
    margin-bottom: 220px;
}
.newslatter .temporaria{
    width: 100%;
    background-color: #F96882;
    height: 371px;
    padding: 79px 127px;
}
.temporaria .information{
    width: 50%;
    font-size: 25px;
}
.temporaria .information h2{
    color: #4F4F4F;
}
.temporaria .subscribe{
    display: flex;
    align-items: center;
    height: 70%;
}
.subscribe, input, button{
    border: none;
    border-radius: 12px;
}
.subscribe input{
    margin-right: 30px;
    padding-left: 14px;
    height: 42px;
    width: 282px;
    color: black;
}
.subscribe input::placeholder{
    color: black;
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
}
.subscribe button{
    height: 44px;
    width: 111px;
    background-color:#E24040;
    color: white;
}
.Services{
    align-items: center;
}
.Services .cards{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.card{
    overflow: hidden;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 377px;
    height: 396px;
    margin-bottom: 10rem;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.yellow, .green, .pink, .Description, .card h3{
    padding: 20px 0 26px 42px;
    width: 100%;
    height: 69px;
}
.card .yellow{
    background-color: #FFD281;
}
.card .green{
    background-color: #2ED573;
}
.card .pink{
    background-color: #FFA3AB;
}
.card h3{
font-size:44px;
}
.card .Description{
height: 170px;
padding-right:42px;
}
.Services .information h2{
    width: 50%;
    font-size: 52px;
    padding-bottom: 92px;
}
.main_footer{
    display: flex;
    flex-wrap: wrap;
    height: 620px;
    padding: 5rem;
    background: rgba(101, 225, 233, 0.5);
}
.main_footer hr{
    width: 100%;
    height: 1px;
}
.logo, .Card_flag, .Footer_menu {
    width: 100%;
}
.logo h2{
    font-family: Inter-extra-bold;
    font-size: 40px;
    color: rgba(84, 15, 126, .7);

}
.main_footer .information{
    width: 30%;
    text-align: justify;
}
.main_footer .Footer_menu{
    display: flex;
    z-index: 1;
    height: 44px;
    flex-wrap: wrap;
    justify-content: flex-end;
    column-gap: 20px;
    border-bottom: 1px solid black;
}
.Card_flag{
    display: flex;
    justify-content: center;
    column-gap: 10px;
    height: 37px;
}
.main_footer ul:not(:last-child){
    margin-left: 10%;
}
.main_footer .photo{
    position: absolute;
    top: 4620px;
    right: -100px;
}
.footer{
    display: flex;
    width: 100%;
    height: 16px;
    justify-content: space-between;
}
