*{
    padding:0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    color: initial;
    font-family: Muli;   
}

:root{
    --bg-body:white;
    --bg-start:rgba(255, 165, 2, .5);
    --bg-height:64px;
    --color-h2:#373f41;
}

body{
    background-color: #ccc;
}

#start{
    background-color: var(--bg-start);
}
#main_container{
    max-width: 1440px;
    margin: 64px auto;
    background-color: var(--bg-body);
    border-radius: 50px 50px 0 0;
    overflow:hidden;
}
section{
    padding: 0 64px;
}
.main_header, .box_start{
    display: flex;
    align-items: center;
}

.main_header{
    justify-content: space-between;
    height: var(--bg-height);
    width: 100%;
}
#logo h1{
    position: relative;
    top: 51px;
    font-family: Inter-extra-bold;
    font-size: 40px;
    color: rgba(84, 15, 126, .7);
}
#main_menu{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 300px;
    column-gap: 20px;
}
.loggin button{
    padding: .8rem;
    border: none;
    border-radius: 6px;
}

.loggin button:nth-child(1){
    background: #21CEC4;
}
.loggin button:nth-child(2){
    background: #E08E8E;
}
.loggin button small{
    font-size: 14px;
    color: black;
    filter: drop-shadow(rgba(165, 95, 95, .8) 0px 2px);
    /* border:  solid 1px; */
}
.box_start{
    padding: 5rem;
    justify-content: center;
}
.box_start img{
    width: 55%;
    height: auto;
    margin-right: 70px;
}
.box_start .information{
    padding: 0 24px;
}
.box_start .information h2{
    font-size: 52px;
    letter-spacing: 0.2px;
}
.co-working{
    display: flex;
    align-items: center;
    flex-direction:row-reverse
}
.co-working .information p{
    border-radius: 15px;
    font-family: Muli-light;
    font-weight: lighter;
    padding: 1em;
}
.co-working .information p:hover{
    background-color: #4F55DD;
    color: white;
    cursor: pointer;
}
.coments{
    align-items: center;
    padding-right: 0;
}
.coments header{
    display: flex;
    column-gap: 300px;
    justify-content: center;
    align-items: center;
    background-color: #32E8BC;
    width: 1380px;
    padding: 3rem;
}
.coments header h1{
    width: 50%;
    font-size: 3em;
    color: #4F4F4F;
}
.coments .photo{
    position: relative;
    grid-area: imagem;
    height: auto;
    width: 500px;
}
.coments .photo img{
    width: 100%;
    height: auto;
    position: absolute;
    width: 41vw;
    top: -374px;
    left: -159px;
}
.coments .information{
    display: grid;
    grid-template-columns: auto;
    grid-template-areas:
        'texto_left imagem texto_right';
}
.coments .information .photo{
    grid-area: 'imagem';
}
.coments .information p{
    background-color: #B4FFED;
    height: 96px;
    width: 400px;
    border-radius: 25px 0px;
    padding: 1rem;
}
.texto_rigth, .texto_left{
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 62px;
    margin-top: 91px;
}
.texto_left{
    grid-area: 'texto_left';
}
.texto_middle_botton{
    display: flex;
    justify-content: center;
    margin-top: 82%;
}
.texto_rigth{
    grid-area: 'texto_right';
}
.we-scratch{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5rem;
}
.we-scratch .information{
    width: 50%;
}
.newslatter{
    display: flex;
    align-items: center;
    justify-content: start;
    height: 50vh;
    padding: 0;
}
.newslatter .photo{
    position: absolute;
    right: 200px;
}
.newslatter .photo img{
    width: auto;
    height: 800px;
    margin-bottom: 220px;
}
.newslatter .temporaria{
    padding: 3rem;
    width: 100%;
    height: 70%;
    background-color: #F96882;
}
.temporaria .information{
    width: 50%;
}